<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link href="./media/{{ site.style }}-screen.css?{{site.data.build_id}}" type="text/css" rel="stylesheet" media="screen, print">
  <link href="http://fonts.googleapis.com/css?family=Arimo&subset=latin" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="main">
    <div id="content" class='container'>
    {{ content }}
    </div>
  </div>
  <script src="./javascript/build/javascript/main.js?{{site.data.build_id}}"></script>
</body>
</html>